@media screen and (min-width:768px) {
    body {}

    article {
        max-width: 600px;
        flex-direction: row;
        /* border: 1px solid black; */
        padding-top: 3.4%;
        padding-bottom: 3.4%;
        max-width: 600px;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: auto 126%;
        background-position: -100% 130%;
        /* background-position: 1260% 65%; */
    }

    article header#images-container {
        /* display: none; */
        /* width: 100%; */
        /* background-color: red; */
    }

    article div#card-content {
        padding-left: 0%;
        padding-right: 0%;
        /* border:1px solid orange; */
        height: 100%;
    }

    article h2#sec-title {
        padding-top: 0%;
        padding-bottom: 5%;
        text-align: initial;
        font-size: 27px;
    }

    article ul#questions-container {
        padding-right: 5%;
        /* border: 1px solid red; */
    }

    article ul#questions-container li.question {
        font-weight: 500;
    }

    article ul#questions-container li.question [data-question] {
        line-height: 3.4;
        font-size: 13px;
    }

    article ul#questions-container li.question [data-answer] {
        font-size: 11.2px;
        font-weight: 300;
        padding-bottom: 5%;
    }
}